<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        /*all: initial;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <div class="form-signin">
    <input class="form-control" placeholder="email" type="text" value="{{email::input}}" required />
    <input class="form-control" placeholder="password" type="password" value="{{pass::input}}" required />
    <button class="btn btn-lg btn-primary btn-block" on-click="login">Login</button>
    <span hidden$="{{!logged}}">Bienvenido/a de nuevo</span>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          pass: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          }
        };
      }

      login(){
        console.log("El usuario ha pulsado el boton");
        var loginData = {
          "email": this.email,
          "pass": this.pass
        }
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Fin");
      }
      manageAJAXResponse(data){
        console.log("Datos recibidos");
        console.log(data.detail.response);
        this.logged=true;
        console.log(data.detail.response.idUsuario);
        window.location = "user/" + data.detail.response.idUsuario;

      }
      showError(error){
        console.log("Se ha producido el error: ")
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
