<!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
 <template>

   <style>
     :host {
       display: block;
     }
   </style>
   <div hidden$="{{ver}}">
     <h2>Soy el receptor</h2>
     <h2>El curso es {{course}} del año {{year}}</h2>
     <input type="text" value="{{course::input}}">
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorEvento extends Polymer.Element {
     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
         course: {
           type: String,
           observer: '_courseChanged'
         },
         year: {
           type: Number
         },
         ver: {
           type: Boolean,
           value: true
         }
       };
     }
     _courseChanged(newValue, oldValue) {
       console.log("Course value has changed");
       console.log("Old value was " + oldValue);
       console.log("New value is " + newValue);
       this.ver=false;
     }

   }

   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
