<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">

  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <h2> Listado de cuentas </h2><br>
  <div class="container">
    <div class="row justify-content-md-center">
    <table class="table">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">IBAN</th>
          <th scope="col">Balance</th>
          <th scope="col">Movimientos</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <th scope="row">{{index}}</th>
            <td>{{item.IBAN}}</td>
            <td>{{item.balance}}</td>
            <td><i class="fas fa-list-ul"></i></td>
          </tr>
        </template>
      </tbody>
     </table>
   </div>
 </div>
    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/account/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          cuentas: {
            type: Array
          }
        };
      }
      showData(data){
        console.log("Las cuentas son");
        this.cuentas = data.detail.response;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
