<!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div hidden$="{{ver}}">
     <h2>Soy el emisor</h2>
     <button on-click="sendEvent">No pulsar</button>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {
         ver: {
           type: Boolean,
           value: false
         }
       };
     }
     sendEvent(e){
       console.log("El usuario a pulsado el boton");
       console.log(e);

       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail": {
               "course" : "TechU",
               "year": 2018
             }
           }
         )
       );
     }
   }

   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
