<!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">

<dom-module id="gestor-evento">
 <template>

   <style>
     :host {
       display: block;
     }
   </style>
   <h1>Yo soy el flow master del universo</h1>
   <emisor-evento on-myevent="processEvent" id="emisor"></emisor-evento>
   <receptor-evento id="receptor"></receptor-evento>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorEvento extends Polymer.Element {
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
       };
     }
     processEvent(e){
       console.log("Capturado evento del emisor");
       console.log(e.detail);
       this.$.receptor.course=e.detail.course;
       this.$.receptor.year=e.detail.year;
       this.$.emisor.ver=true;
     }
   }

   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
